*{margin:0px; padding:0px;}
	/*MusicCon  begin*/
.MusicCon{width:22px; height:115px; position:fixed;/*固定定位*/
		left:0px; bottom:0px; background:#251f2e; overflow:hidden;/*超出部分隐藏*/}
.MusicCon .ImgTxt{width:300px; height:115px;position:absolute; left:0px;}
.MusicCon .But{width:160px; height:75px;position:absolute;padding-top:43px; left:242px;}
.MusicCon .clickBut{width:22px; height:115px; background:blue;position:absolute;
			right:0px;}
.MusicCon .ImgTxt dl{width:300px; height:100px; padding-top:13px;}
.MusicCon .ImgTxt dl dt{width:90px;height:90px; float:left;}
.MusicCon .ImgTxt dl dd{width:150px; height:90px; float:left;word-wrap:break-word;
	position:relative;padding-left:3px; color:#fff;font-size:22px; }
.MusicCon .But a{width:32px;height:32px;display:block;background-color: #ffffff;
			float:left; margin:0px 10px;border-radius: 50%;border:none;}

.MusicCon .But a.prev img{width: 32px;height:32px;filter:Alpha(opacity=80);opacity:0.8;border:none;}
.MusicCon .But a.play img{width: 32px;height:32px;filter:Alpha(opacity=80);opacity:0.8;border:none;}
.MusicCon .But a.next img{width: 32px;height:32px;filter:Alpha(opacity=80);opacity:0.8;border:none;}
.MusicCon .But a.prev img:hover{filter:Alpha(opacity=100);opacity:1;}
.MusicCon .But a.play img:hover{filter:Alpha(opacity=100);opacity:1;}
.MusicCon .But a.next img:hover{filter:Alpha(opacity=100);opacity:1;}